@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-[#1f1b31];
}

::-webkit-scrollbar-thumb {
  @apply bg-violet-900;
}

body {
  @apply bg-[#040018] text-gray-300 overflow-y-auto overflow-x-hidden;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
}

.button-primary {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.32) 100%
    ),
    rgba(113, 47, 255, 0.12);
  box-shadow: inset 0 0 12px #bf97ff3d;
}
.button-primary:hover {
  background: linear-gradient(
      180deg,
      rgba(60, 8, 126, 0) 0%,
      rgba(60, 8, 126, 0.42) 100%
    ),
    rgba(113, 47, 255, 0.24);
  box-shadow: inset 0 0 12px #bf97ff70;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.glass {
  @apply bg-violet-600 bg-opacity-5 border border-violet-700 border-opacity-10 rounded-md backdrop-filter backdrop-blur-sm;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgb(76 29 149 / 35%);
}

.input {
  @apply h-fit w-full px-4 py-1.5 bg-transparent border border-violet-700 border-opacity-20 rounded-sm outline-none focus:border-violet-700 transition duration-300;
  border: 1px solid rgb(48 35 68 / 71%);
}

.image-container {
  height: 300px; /* Height of the visible part */
  overflow: hidden; /* Hides the overflow of the image */
}

.scrolling-image {
  width: 100%;
  height: 1100px; /* Full height of the image */
  cursor: grab;
  transition: transform 1.5s ease; /* Smooth transition effect */
}

.image-container:hover .scrolling-image {
  transform: translateY(
    -800px
  ); /* Adjust the Y-axis to scroll through the image */
}
